# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.env

# VS Code
.vscode/

# Jupyter Notebook
*.ipynb_checkpoints

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Flask
instance/